<!DOCTYPE html>
<html>
  <head>
    <title>DragonArgent::Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700:latin" rel="stylesheet" />
    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
    <link rel="stylesheet" href="<%=asset_pack_path('admin.css')%>" media="all">
    <%= javascript_pack_tag "svg4everybody" %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'admin' %>
  </body>
</html>
